footer.footer--principal
  .logo--footer: img(src="../Images/logo.png")
  .diseno 
    h2 DESIGNED WITH BY @THaciendo
  .nav--social: ul
    li: a(href="#"): img(src="../Images/facebook_white.png")
    li: a(href="#"): img(src="../Images/github_white.png")
    li: a(href="#"): img(src="../Images/in_white.png")
    li: a(href="#"): img(src="../Images/instagram_white.png")
    li: a(href="#"): img(src="../Images/twitter_white.png")
    li: a(href="#"): img(src="../Images/youtube_white.png")
