header.header--secundario
  .header--fondo
  .header--block
    .logo--footer: img(src="../Images/logo.png")
    nav.nav--header--secundario: ul
      li: a(href="#") Portafolio
      li: span |
      li: a(href="#") Blog
      li: span |
      li: a(href="#") Trabajemos juntos
      .logo--footer--contenido: img(src="../Images/historia_white.png")
    
