doctype html
html
  head
    title Brandon Malagon
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/css_portafolio.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap")
    meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
  body
