extend componentes/plantilla.pug
block contenidos
  main
    seccion.center
      seccion.left
        img(src="../Images/banner.png")
        img(src="../Images/banner.png")
        img(src="../Images/banner.png")
      seccion.right
        .columna
          h1 titulos de articulo
          P 
            |El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
          P 
            |El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
          P 
            |El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
          P 
            |El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
          .imagen1 
            img(src="../Images/paisaje3.jpg")
          P 
            |El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
          P 
            |El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
          P 
            |El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
          P 
            |El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
          P 
            |El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
          .imagen2
            img(src="../Images/paisaje4.jpg")
          P 
            |El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
          P 
            |El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
              
