extend componentes/principal.pug
block contenidos
  main
    seccion.principal
      .container--primero
        .img--fondo
          img(src="../Images/foto_blog1.jpg")
          .fondo--headers
          .texto--header
            .logo: img(src="../Images/logo.png")
            .nav--header: ul
              li: a(href="#") Portafolio
              li: span |
              li: a(href="#") Blog
              li: span |
              li: a(href="#") Trabajemos juntos
      .container--segundo
        .banner_uno: img(src="../Images/banner1.png")
        .social-networks: ul
          li: a(href="#"): img(src="../Images/facebook.png")
          li: a(href="#"): img(src="../Images/github.png")
          li: a(href="#"): img(src="../Images/in.png")
          li: a(href="#"): img(src="../Images/instagram.png")
          li: a(href="#"): img(src="../Images/twiter.png")
          li: a(href="#"): img(src="../Images/youtube.png")
        .banner-description
          .banner--perfil: img(src="../Images/brandonmalagon.jpg")
          .textos--oficios: ul
            li: span Licenciado en electrónica
            li: span Desarrollador web
            li: span Desarrollo en Unity 3D
            li: span Desarrollador de material educativo
            .images--oficios: ul
              li: a(href="#"): img(src="../Images/electronica.png")
              li: a(href="#"): img(src="../Images/desarrollo.png")
              li: a(href="#"): img(src="../Images/unity.png")
              li: a(href="#"): img(src="../Images/materialEducativo.png")
      .container--tercero
        .ano 
          .ano-texto
            h2 year
            h1 2020
          .ano--arrow: img(src="../Images/arrow.png")
        .opciones
          .opciones--imagenes: ul
            li: a(href="#"): img(src="../Images/blog.png")
            li: a(href="#"): img(src="../Images/juegos.png")
            li: a(href="#"): img(src="../Images/correo.png")
            li: a(href="#"): img(src="../Images/perfil.png")
          .opciones--textos: ul
            li: span Blog
            li: span juegos 
            li: span e mail
            li: span perfil
    seccion.secundario 
      .container--s--primero
        .banner2: img(src="../Images/banner.png")
        .banner_text
          h1 proyectos 
          p El objetivo que tiene este espacio es exponer diferentes 
            |artículos y ensayos escritos por la comunidad, los diferentes 
            |artículos o ensayos  tendrán como temática tecnología, viajes, 
            |desarrollo web y fotografía.
          p El propósito es impulsar y animar a la comunidad a mostrar todos
            |sus conocimientos sobre desarrollo web, video juegos y Unity3d, 
            |además que cuenten todas esas aventuras guardadas en sus recuerdos.
          p El objetivo que tiene este espacio es exponer diferentes artículos 
            |y ensayos escritos por la comunidad, los diferentes artículos o 
            |ensayos  tendrán como temática tecnología, viajes, desarrollo web 
            |y fotografía.
          p El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
      .container--s--segundo
        .img_principal2: img(src="../Images/foto_blog4.jpg")
      .container--s--tercero
        .proyecto
          .proyecto-img: img(src="../Images/foto_blog.png")
          h1 virtual fire
          h2 desarrollo: Unity3d
          p El objetivo que tiene este espacio es exponer diferentes 
            |artículos y ensayos escritos por la comunidad, los diferentes 
            |artículos o ensayos  tendrán como temática tecnología, viajes, 
            |desarrollo web y fotografía.
        .proyecto
          .proyecto-img: img(src="../Images/foto_perfil2.jpg")
          h1 virtual fire
          h2 desarrollo: Unity3d
          p El objetivo que tiene este espacio es exponer diferentes 
            |artículos y ensayos escritos por la comunidad, los diferentes 
            |artículos o ensayos  tendrán como temática tecnología, viajes, 
            |desarrollo web y fotografía.
        .proyecto
          .proyecto-img: img(src="../Images/foto_perfil1.png")
          h1 virtual fire
          h2 desarrollo: Unity3d
          p El objetivo que tiene este espacio es exponer diferentes 
            |artículos y ensayos escritos por la comunidad, los diferentes 
            |artículos o ensayos  tendrán como temática tecnología, viajes, 
            |desarrollo web y fotografía.
    seccion.tercera
      .container--t--primero
        .ultima_imagen: img(src="../Images/foto_blog3.jpg")
      .container--t--segundo
        .prueba
          .proyecto
            .proyecto-img: img(src="../Images/foto_blog.png")
            h1 virtual fire
            h2 desarrollo: Unity3d
            p El objetivo que tiene este espacio es exponer diferentes 
              |artículos y ensayos escritos por la comunidad, los diferentes 
              |artículos o ensayos  tendrán como temática tecnología, viajes, 
              |desarrollo web y fotografía.
          .proyecto
            .proyecto-img: img(src="../Images/foto_blog.png")
            h1 virtual fire
            h2 desarrollo: Unity3d
            p El objetivo que tiene este espacio es exponer diferentes 
              |artículos y ensayos escritos por la comunidad, los diferentes 
              |artículos o ensayos  tendrán como temática tecnología, viajes, 
              |desarrollo web y fotografía. 
      .container--t--tercero
        .banner2: img(src="../Images/banner.png")
        .banner_text
          h1 blog 
          p El objetivo que tiene este espacio es exponer diferentes 
            |artículos y ensayos escritos por la comunidad, los diferentes 
            |artículos o ensayos  tendrán como temática tecnología, viajes, 
            |desarrollo web y fotografía.
          p El propósito es impulsar y animar a la comunidad a mostrar todos
            |sus conocimientos sobre desarrollo web, video juegos y Unity3d, 
            |además que cuenten todas esas aventuras guardadas en sus recuerdos.
          p El objetivo que tiene este espacio es exponer diferentes artículos 
            |y ensayos escritos por la comunidad, los diferentes artículos o 
            |ensayos  tendrán como temática tecnología, viajes, desarrollo web 
            |y fotografía.
          p El propósito es impulsar y animar a la comunidad a mostrar todos sus 
            |conocimientos sobre desarrollo web, video juegos y Unity3d, además 
            |que cuenten todas esas aventuras guardadas en sus recuerdos.
    seccion.end
